<h1>Confirm your Account</h1>
<p>
    Thank you for signing up! Please click the link below to complete your registration:
</p>
<p>
    <a href="{{ signedUrl }}">Confirm my Email and Register</a>
</p>
<p>
    This link will expire in 1 hour.
</p>