<h1>Confirm your reservation</h1>
<p>
    Thank you for your reservation! Please click the link below to confirm:
</p>
<p>
    <a href="{{ signedUrl }}">Confirm my Reservation</a>
</p>
<p>
    This link will expire in 1 hour.
</p>